html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height:100%;
    z-index:1;
    overflow:scroll;
}

.animated {
    opacity:0;
}

.hero-unit {
     margin: 0 auto;
    width: 100%;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: rgba(238, 238, 238, 0.68);
    border-radius: 6px;
    padding: 0px;
    padding-top: 72px;
    text-align: center;
    margin-top: 0px;

}

.hero-unit h1 {
    font-size: 45px;
    line-height: 1;
    letter-spacing: -1px;
    margin-top: 8px;
    margin-bottom: 0px;

}

.header img {
    height: 39px;
    margin-left: -41px;
    display: inline;
}


.header {
    text-align:left;
    width: 66%;
    margin:0 auto;

}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#responsive_headline, #responsive_contact {
    color:rgba(19, 68, 41, 0.94);

}

#about {
    color:rgba(19, 68, 41, 0.94);
}

#responsive_contact{
    cursor: pointer; 
}

#responsive_intro {
    margin-top:-40px;
}

/*CONTACT BOX*/

.contact-box {
  background: #FFF;
    border: 10px solid #333;
    border: 10px solid rgba(0,0,0,.7);
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    background-clip: padding-box;
    margin: 50px auto 0 auto;
    text-align: center;
    width: 30%;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    line-height:inherit;
    padding:20px;
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 210%, 0px);
    -moz-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 210%, 0px);
    -o-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 210%, 0px);
    -ms-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 210%, 0px);
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 110%, 0px);
    -webkit-transition:transform .5s ease;

}

.contact-active {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0%, 0px, 0px);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0%, 0px, 0px);
    -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0%, 0px, 0px);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0%, 0px, 0px);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0%, 0px, 0px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.social {
   width: 75%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.icon {
        height:60px;
        width:60px;
        float:left;
}

.social a {
    text-decoration:none;
    line-height:4;
}

.contact-box .alertify-button {
    background-color: #5CB811;
    border: 1px solid #3B7808;
    display: block;
    width: 23%;
    margin: 0 auto;
}

.contact-box .alertify-button:hover {
    background-color: #5CB811;
    border: 1px solid #3B7808;
}

.contact-box .alertify-button:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

/*PORTFOLIO BOX*/

.project-container {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    box-shadow: inset 0px 2px 11px -4px rgba(13, 32, 2, 0.42);
    padding-top: 22px;
    background: rgba(42, 162, 66, 0.64);

}

#responsive_portfolio2 {
    margin-bottom:30px;
    color:white;
}

 h2 {
    font-size: 40px;
    margin-top: 7px;
}

.project {
    display: inline-block;
    height: auto;
    margin: -1px;
    width: 365px;
    text-align: center;
    vertical-align: top;
}


.project img {
    height: 195px;
    width: 93%;
    margin-bottom:40px;
}

.project h3 {
    margin-top:3px;
    color: rgb(60, 60, 173);

}

.description {
    margin-top: -21px;
    width: 334px;
    display: inline-block;
    color:white;
    text-align:left;
}

#close {
    vertical-align:bottom;
}

/*BIO STYLES*/

.bio-wrap {
    width: 67%;
    margin: 0 auto;
    padding-bottom: 119px;
}

#responsive_bio {
    margin-top:40px;
}



.bio p {
    text-align: left
}



/*MEDIA QUERIES!*/

@media (max-width: 900px) {
    .contact-box {
        width:80%;
        top:-2px;
    }

    .description {
        display:none;
    }

    .project {
        height:auto;
    }

    .preview-link img {
        height: 150px;
        width: 275px;
    }    

    #close {
        vertical-align:bottom;
    }

}
@media (max-width:540px){
    .hero-unit h1 {
        font-size: 40px;
    }

    .subtitle {
        font-size:11px
    }
    #responsive_contact{
        font-size: 17px;
    }
    .preview-link img {
        height: 150px;
        width: 193px;
        margin-left:-64px
    }    
}


.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
    background: none;
    text-decoration: none;
    border: none;
    /* line-height and font-size for input button */
    line-height: 1.5;
    font-size: 100%;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;

}
 