extends /layouts/main
include /mixins/blog

block content
  a#menu-open.btn.btn-dark.btn-lg.toggle(href='#')
    i.fa.fa-list-alt
  nav#sidebar
    ul.sidebar-nav
      a#menu-close.btn.btn-dark.btn-lg.pull-right.toggle(href='#')
        i.fa.fa-times
      li.sidebar-brand
        a(href='#top') FlackAP
      li
        a(href='#about') About
      li
        a(href='#portfolio') Portfolio
      li
        a(href='#contact') Contact

  header#top.header
    .text-vertical-center
      h1 
        img(src="/images/bonsai.png")
        | Flack AP
      #subheadline
        h3 
          | <em>proper noun</em> \ˈflak-'ā-pē \ :
          br
          | Andy Flack, a front-end web developer with a passion for life-long education, sustainable coffee, and professional wrestling 
      br
      a.btn.btn-dark.btn-lg(href='#about') Find Out More

  section#about.about
    .container
      .row
        .col-lg-12.text-center
          h2 Who Is Flack AP?
        .col-lg-12
          .col-md-9
            p(style="margin:0 auto; max-width:900px") 
              |My name is Andy Flack, and I'm a front end web developer. My story is a winding tale of seeking fortune in studies of history, art, and sustainable coffee. You can read more about that on my <a href="/resume">resume</a> if you'd like, but the most important thing you should know about me is that I love working with people to solve problems, and that's why the world of programming is my place. I've never found a more welcoming community of people tenacious enough to tackle problems that will eventually effect almost every person on the planet.
          .col-md-3
            img.about-photo(src="/images/flackap.jpg")

  aside.callout
    .container
      .row.text-center
        .col-lg-10.col-lg-offset-1
          h2(style="margin-top:40px") Tools of the Trade
          .row
            .col-md-4.col-sm-6
              .skill
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-html5.fa-stack-1x.icon
                  h4
                    strong HTML5/CSS3
                  p Using clean markup and stylesheets, I make it a point to write legible code that is easy to read and understand even if someone else comes in and touches my existing work.
            .col-md-4.col-sm-6
              .skill2
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-code.fa-stack-1x.icon
                  h4
                    strong JavaScript
                  p Whether I'm animating some CSS, implementing server-side solutions with node, or utilizing an MVC-style framework for single-page webapps, Javascript is how the user experience comes to life.
            .col-md-4.col-sm-6
              .skill
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-mobile.fa-stack-1x.icon
                  h4
                    strong Mobile-First Dev
                  p Let's face it, there's a good chance you're looking at this on your mobile device at this very moment. In today's world, mobile-ready websites are a must in order to reach your clients effectively.

  section#portfolio.portfolio
    .container
      .row
        .col-lg-10.col-lg-offset-1.text-center
          h2 Projects
          .row
            .col-md-6
              .portfolio-item
                a(href='http://chartspan.com' target="blank")
                  img.img-portfolio.img-responsive(src='images/ChartSpan.png')
              h3 ChartSpan
              p As a front-end developer at ChartSpan, I saw firsthand how hectic the startup life is- and I fell in love with it. ChartSpan is where I got to whet my appetite for Objective-C and object-oriented programming.
              a(href="https://chartspan.com" target="blank") &bull;ChartSpan.com    
              a(href="https://itunes.apple.com/us/app/chartspan/id896040502?ls=1&mt=8" target="blank") &bull;App Store
              hr.mobile-rule
            .col-md-6
              .portfolio-item
                a(href='http://theironyard.com' target="blank")
                  img.img-portfolio.img-responsive(src='images/TIY.png')
              h3 The Iron Yard
              p Using Jade, Sass, and the gulp build tool, I was responsible for rebuilding and maintaining The Iron Yard's redesigned website as well as Ghost Shield, the official Iron yard styleguide.
              a(href="http://TheIronYard.com" target="blank") &bull;TheIronYard.com    
              a(href="http://masondesu.github.io/ghost-shield/" target="blank") &bull;Ghost Shield    
              a(href="https://github.com/masondesu/cool-new-ironyard-site") &bull;View on GitHub

          a.btn.btn-dark(href='https://github.com/FlackAP/' target="blank") View More On GitHub

  aside#testimonials.testimonial.bg-primary
    .container
      .row
        .col-lg-12.text-center
          h2 I dont want to toot my own horn
          h3 
            |(so here's what others are saying)
          .col-md-6(style="margin-top:20px")
            p(style="text-align:left") 
              |"I had the pleasure of working with Andy in the development of our consumer mobile product at ChartSpan Medical Technologies. He shined as a Developer and problem solver, with the ability to stand out as an individual performer or member of our Dev Team.
              br
              br
              |Andy is infectiously calm during times of stress and pragmatic in his problem solving approach. His knowledge of client and server side development concepts and languages, as well as his ability as a cross platform tester were critical to our success.
              |Andy's competency is matched by his humor and wit...a welcomed trait during the frequent and mundane stretches of laborious development tasks. Andy is a gem and someone who is always welcomed on my team"
              br
              h4(style="margin-top:40px ") -Jon-Michial Carter, Co-Founder - ChartSpan Medical Technologies
              hr.mobile-rule
          .col-md-6(style="margin-top:20px")
            p(style="text-align:left")
              |"Here's a kid who didn't know anything about HTML a short time ago, let alone anything about JavaScript or object oriented programming. The look on his face when I told him I needed him to learn Objective-C was priceless, and one I'll never forget. It went from fear, to excitement, to determination in less than five seconds. 
              br
              br
              |. . .Andy had a better grasp of object oriented principles and Objective-C after thirty days than I could have ever imagined for a person of his experience. He proved to me that he has an insatiable hunger for learning and a desire to face audacious challenges head on, two traits I find highly desirable in every person I hire. I'd be happy to have Andy on my team any day."
              h4(style="margin-top:40px ") -Terry Horner, Data Scientist - Keen IO
  footer
    .container#contact
      .row
        .col-lg-10.col-lg-offset-1.text-center
          h3 Contact Me!
          p 
            |I'm always interested in hearing about new opportunities and connecting with others,
            br
            |so feel free to drop me a line via Email or follow me!
          ul.list-inline
            li
              a(href='mailto:Flack.AP@gmail.com' target="blank")
                i.fa.fa-envelope.fa-fw.fa-3x
            li
              a(href='http://twitter.com/flackap' target="blank")
                i.fa.fa-twitter.fa-fw.fa-3x
            li
              a(href='http://github.com/flackap' target="blank")
                i.fa.fa-github.fa-fw.fa-3x
            li
              a(href='http://flackap.tumblr.com' target="blank")
                i.fa.fa-tumblr.fa-fw.fa-3x
          hr.small
          p.text-muted(style="font-size:12px") Copyright © Andy Flack 2014

  +blogFeed('FlackAP')