@import url(http://fonts.googleapis.com/css?family=Hind:500,400,700,300);
/* line 4, stdin */
html {
  width: 100%;
  height: 100%; }

/* line 9, stdin */
body {
  width: 100%;
  height: 100%;
  font-family: "Hind","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif; }

/* line 16, stdin */
h2 {
  font-size: 54px; }

/* line 20, stdin */
p {
  font-size: 16px; }

/* line 24, stdin */
a {
  font-size: 16px; }

/* line 28, stdin */
a, .icon {
  color: #33B281; }

/* line 32, stdin */
a:hover {
  color: #08855A; }

/* line 36, stdin */
i {
  color: #243649; }
  /* line 39, stdin */
  i:hover {
    color: #729f98; }

/* line 45, stdin */
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  /* line 49, stdin */
  .text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    font-weight: 700; }
    /* line 55, stdin */
    .text-vertical-center h1 img {
      height: 45px;
      margin-top: -14px; }
  /* line 60, stdin */
  .text-vertical-center h3 {
    text-align: left; }

/* Custom Button Styles */
/* line 67, stdin */
.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: #0E7F26; }
  /* line 71, stdin */
  .btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    color: #fff;
    background-color: #10992E; }
  /* line 76, stdin */
  .btn-dark.rounded {
    border-radius: 2px;
    box-shadow: 0px 1px 4px 0px #063806; }

/* line 82, stdin */
.btn-light {
  border-radius: 0;
  color: #333;
  background-color: white; }
  /* line 86, stdin */
  .btn-light:hover, .btn-light:focus, .btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); }

/* Custom Horizontal Rule */
/* line 94, stdin */
hr.small {
  max-width: 100px; }

/* Custom Icon Styles */
/* line 100, stdin */
.fa-circle, .fa-list-alt, .fa-times {
  color: #f0eceb; }

/* Side Menu */
/* line 110, stdin */
#sidebar {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #133E1C;
  transition: all 0.4s ease 0s; }

/* line 126, stdin */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 133, stdin */
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px; }
    /* line 136, stdin */
    .sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: #999; }
      /* line 140, stdin */
      .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2); }
      /* line 145, stdin */
      .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none; }
  /* line 150, stdin */
  .sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px; }
    /* line 154, stdin */
    .sidebar-nav > .sidebar-brand a {
      color: #999; }
      /* line 156, stdin */
      .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
        background: none; }

/* line 164, stdin */
#menu-open {
  z-index: 1;
  position: fixed;
  top: -5px;
  left: 0; }

/* line 171, stdin */
#sidebar.active {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s; }

/* line 181, stdin */
.toggle {
  margin: 5px 5px 0 0; }

/* line 188, stdin */
.bg-primary {
  background-color: #0E7F26; }

/* Header */
/* line 194, stdin */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/mountains.jpg) no-repeat center center scroll;
  background-size: cover;
  -o-background-size: cover; }
  /* line 205, stdin */
  .header #subheadline {
    margin: 0 auto;
    max-width: 700px; }
    @media (max-width: 740px) {
      /* line 205, stdin */
      .header #subheadline {
        display: none; } }

/* About */
/* line 218, stdin */
.about {
  background: #f0eceb; }

/* line 222, stdin */
.about, .services {
  padding: 50px 0; }

/* line 226, stdin */
.about-photo {
  width: 100%;
  border-radius: 200px;
  position: relative;
  float: left;
  top: -20px;
  padding: 20px;
  margin-right: 4%;
  margin-bottom: 4%; }
  /* line 235, stdin */
  .about-photo:nth-child(even) {
    margin-right: 0; }
  @media (max-width: 991px) {
    /* line 226, stdin */
    .about-photo {
      display: none; } }

/* line 244, stdin */
.come-in {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-animation: come-in 2s ease forwards;
  animation: come-in 2s ease forwards; }

/* line 249, stdin */
.already-visible {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: none;
  animation: none; }

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes come-in {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

/* Skills/ "Tools of the Trade" */
/* line 260, stdin */
.skills {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  position: relative;
  background: url(../images/bg.jpg) no-repeat center center scroll;
  background-size: cover;
  -o-background-size: cover; }
  @media (max-width: 768px) {
    /* line 260, stdin */
    .skills {
      background: #07754F; } }
  /* line 276, stdin */
  .skills .skill, .skills .skill2 {
    background-color: rgba(94, 135, 128, 0.88);
    padding: 9px 0px;
    border-radius: 4px;
    float: left;
    padding: 20px;
    margin-right: 4%;
    margin-bottom: 4%;
    box-shadow: -2px 1px 5px 1px rgba(0, 0, 0, 0.32); }

/* line 289, stdin */
.skill-active {
  -webkit-transform: translateY(130px);
  transform: translateY(130px);
  -webkit-animation: come-in 1.20s ease forwards;
  animation: come-in 1.20s ease forwards; }

/* line 294, stdin */
.skill2-active {
  -webkit-transform: translateY(160px);
  transform: translateY(160px);
  -webkit-animation: come-in 0.6s ease forwards;
  animation: come-in 0.6s ease forwards; }

/* Portfolio */
/* line 301, stdin */
.portfolio {
  padding: 50px 0;
  background: #f0eceb; }
  /* line 305, stdin */
  .portfolio hr {
    border-top: 1px solid #282828; }
  /* line 309, stdin */
  .portfolio p {
    margin-bottom: 20px;
    height: 74px; }
    @media (max-width: 990px) {
      /* line 309, stdin */
      .portfolio p {
        display: none; } }
  /* line 317, stdin */
  .portfolio a {
    color: #243649; }
  /* line 320, stdin */
  .portfolio ul {
    padding-left: 0; }
  /* line 324, stdin */
  .portfolio li {
    display: inline;
    list-style-type: none;
    padding-right: 10px; }
    /* line 328, stdin */
    .portfolio li a {
      font-weight: 700; }
  /* line 333, stdin */
  .portfolio .btn {
    margin-top: 30px;
    color: white; }

/* line 339, stdin */
.portfolio-item {
  margin-bottom: 10px;
  border-radius: 2px; }

/* line 344, stdin */
.img-portfolio {
  width: 420px;
  height: 239px;
  margin: 0 auto;
  border: 2px solid rgba(95, 111, 86, 0.37);
  border-radius: 14px; }
  /* line 350, stdin */
  .img-portfolio:hover {
    opacity: 0.8; }

/* testimonial */
/* line 357, stdin */
.testimonial {
  padding: 50px 0;
  background: #243649; }

@media (min-width: 992px) {
  /* line 363, stdin */
  .mobile-rule {
    display: none; } }

/* Blog */
/* line 372, stdin */
.blog .recent {
  list-style-type: none; }
  /* line 375, stdin */
  .blog .recent li {
    width: 20%;
    margin: 1%;
    padding: 2%;
    text-align: center;
    display: inline-block; }

/* Footer */
/* line 387, stdin */
footer {
  padding: 45px 0;
  background: #f0eceb; }

@media print {
  /* line 393, stdin */
  h1 {
    font-size: 28px; }
  /* line 396, stdin */
  h2 {
    font-size: 25px; }
  /* line 399, stdin */
  h3 {
    font-size: 20px; }
  /* line 402, stdin */
  p, li, a {
    font-size: 16px; } }

/*# sourceMappingURL=sass */