a#menu-open.btn.btn-dark.btn-lg.toggle(href='#')
  i.fa.fa-bars
nav#sidebar-wrapper
  ul.sidebar-nav
    a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
      i.fa.fa-times
    li.sidebar-brand
      a(href='#top') Start Bootstrap
    li
      a(href='#top') Home
    li
      a(href='#about') About
    li
      a(href='#services') Services
    li
      a(href='#portfolio') Portfolio
    li
      a(href='#contact') Contact