// build:js scripts/vendor.js
// bower:js
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/fancyBox/source/jquery.fancybox.js')
// endbower
// endbuild

// build:js scripts/main.js
script(src="/scripts/main.js")
// endbuild