doctype html
html(lang="en")
  head
    title='FlackAP'
    link(rel="stylesheet" href="/stylesheets/main.css")
    link(href="../fonts/ss-social.css" rel="stylesheet")
    link(href="../fonts/ss-standard.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="/bower_components/jquery/dist/jquery.min.js")


  