doctype html
html(lang="en")
  head
    title='Flack AP | Front End Web Developer'

    //- styles
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/bower_components/fancyBox/source/jquery.fancybox.css")
    link(rel="stylesheet" href="/stylesheets/main.css")
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
 

    script(src="/bower_components/jquery/dist/jquery.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")



  